# general ignores:
##################
# ignore swap fiels
*.swp
# ignore slurm log-files
*-out.*
*-err.*
*.out
*.err
# ignore forcing files
forcing/**
# ignore stuf within rundir
rundir/**
# ignore stuf in src directory
src/**
# ignore stuff in ctrl/logs
ctrl/logs/**
# ignore content of simres
simres/**
# ignore content of postpro
postpro/**
# ignore content of geo
geo/**
# ignore content of monitoring
monitoring/**

# ignore local rendered documentation
doc/_build/**

# general keeps:
################
# keep .gitkeep files to keep dir-structure
!**/.gitkeep

# special ignores:
##################
# TO BE ADDED
